/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*my code*/

* {
  text-decoration: none;
}


/* einstellung, um inhalt nicht hinter header verschwinden zu lassen*/


body {
  background-color: rgb(255, 255, 255)
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(35, 31, 32, 0.8);
  width: 100%;
  height: 80px;
}

header .header-brand {
  font-family:'Open Sans';
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 18px 0;
}

header nav ul {
 margin: 0 auto;
 display: block;
 width: fit-content;
}

header nav ul li {
 display: inline-block;
 list-style: none;
 padding: 0 8px;
}

header nav ul li a {
  font-family:'Roboto';
  font-size: 16px;
  font-weight: 600;
  color: #fcfcfc;
  text-transform: lowercase;
}

@media only screen and (min-width: 1000px) {

  header .header-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 30px;
    padding: 0 20px 0 40px;
    float: left;
  }

  header nav ul li {
   padding: 0 16px;
  }

  header nav ul li a {
    line-height: 95px;
    font-size: 18px;
  }

}
/*Index page*/

.index-banner {
  width: 100%;
  height: 100vh;
  /*100vh heiss anpassung 100% an das device und calculation hier damit man nich des bildes wegen wieter runterscrollt calc(100vh - 80px)*/
  background-image: url('img/me1-04.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family:'Roboto';
  font-size: 24px;
  font-weight: 600;
  line-height: 60px;
  color: #fcfcfc;
  padding-top: 300px;
  text-align: center;
  text-shadow: 2px 2px 20px #111;
}

.index-banner h1 {
  font-family:'Roboto Condensed';
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #fcfcfc;
  text-align: center;
  text-shadow: 2px 2px 20px #111;
  display: block;
  width: 280px;
  margin: 0 auto;
}

.vertical-center a {
  font-family:'Roboto Condensed';
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #718de0;
  text-align: center;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .index-banner {
    width: 100%;
    height: 980px;
    background-image: url('img/me1-04.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
  }
  .index-banner h2 {
    font-size: 40px;
    padding-top: 300px;
  }

  .index-banner h1 {
    font-size: 24px;
    width: 600px;
    display: block;
    margin: 0 auto;
  }

  .vertical-center a {
    font-family:'Roboto Condensed';
    font-size: 24px;
    padding-top: 50px;

  }

}

.vertical-center2 {
  text-align: center;
}

.wrapper h2 {
  font-family:'Roboto';
  font-size: 20px;
  font-weight: 400;
  color: #718de0;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
}

.why-ux {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
}

.quote {
  font-family:'Roboto Condensed';
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  color: #718de0;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.quote2 {
  font-family:'Roboto Condensed';
  font-size: 14px;
  font-weight: 400;
  color: #718de0;
  width: 80%;
  margin: 0 auto;
}

.index-links div {
  margin: 22px 22px 0;
  width: calc(100% - 44px);
  height: 154px;
  background-color: #718de0;
}

.index-boxlink-square1 {
  background-image: url('img/project thumbnail re.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.index-boxlink-square1:hover {
  background-image: url('img/project thumbnail re ho.png');
}

.index-boxlink-rectangle1 {
  background-image: url('img/portfolio-18.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.index-boxlink-square2 {
  background-image: url('img/portfolio-19.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.index-links div h3 {
  font-family:'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.vertical-center2 {
  width: 70%;
  margin: 0 auto;
}

.wrapper h2 {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.why-ux {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  padding-right: 10px;
  /* background-image: url('img/why ux-18.png');*/
}

.quote {
  font-family:'Roboto Condensed';
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.quote2 {
  font-family:'Roboto Condensed';
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  padding-bottom: 40px;
}

  .index-links {
    /* padding-bottom: 20px; */
    overflow: hidden;
    /* overflow weil in dem container mehrere objecte floaten und allein die margin dann nicht zaehlt*/
  }

  .index-links div {
    margin: 20px 10px 0;
    height: 220px;
    float: left;
  }

  .index-boxlink-square1 {
    width: calc(25% - 20px)!important;
    /* das important setzt alles darauf davor angewandte ausser Kraft*/
  }

  .index-boxlink-rectangle1 {
    width: calc(50% - 20px)!important;
    /* das important setzt alles darauf davor angewandte ausser Kraft*/
  }

  .index-boxlink-square2 {
    width: calc(25% - 20px)!important;
    /* das important setzt alles darauf davor angewandte ausser Kraft*/
  }

  .index-links div h3 {
    line-height: 220px;
  }
}

.me2 {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
}

.about-me div {
  width: 80%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 20px;
}

.about-me div p {
  font-family:'Roboto Condensed';
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  color: #4d4d4d;
  text-align: justify;
}

@media only screen and (min-width: 1000px) {
  .about-me div {
    width: 80%;
    padding-top: 50px;
  padding-bottom: 20px;
  }
  
  .about-me div p {
    font-size: 18px;
    line-height: 28px;
    column-count: 2;
    column-gap: 30px;
  }
  }

  .hire-me div {
    width: 80%;
    margin: 0 auto;
  }
  
  .hire-me div p {
    font-family:'Roboto Condensed';
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    color: #4d4d4d;
    text-align: center;
  }
  
  .hire-me div h3 {
    font-family:'Open Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #666666;
    padding-top: 25px;
    padding-bottom: 20px;
  }

  @media only screen and (min-width: 1000px) {
    .hire-me div {
      width: 80%;
      padding-top: 50px;
    padding-bottom: 20px;
    }
    
    .hire-me div p {
      font-size: 18px;
      line-height: 28px;
    }

    .hire-me div h3 {
      font-size: 18px;
    }
    }


.contact {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.contact p{
  font-family:'Roboto condensed';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
  text-align: center;
}

.contact p a{
  color: #718de0;
  font-family:'Roboto condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.contact img{
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  padding-bottom: 30px;
}

@media only screen and (min-width: 1000px) {
  .contact {
    width: 45%;
    padding-bottom: 160px;
  }
  
  .contact p{
    font-size: 18px;
    line-height: 28px;
  }

  .contact p a{
    font-size: 20px;
    line-height: 30px;
  }
}

/*Footer*/

footer {
  width: 100%;
  height: 120px;
  padding: 40px 40;
  margin-top: 20px;
  background-color: rgba(35, 31, 32, 0.8);
  overflow: hidden;
}

.footer-links {
  width: fit-content;
  margin: 0 auto;
  padding-top: 15px;
}

.footer-links a {
  color: #b8b8b8;
  font-family:'Roboto Condensed';
  font-size: 16px;
  font-weight: 600;
}

.footer-main {
  width: fit-content;
  margin: 0 auto;
  padding-top: 30px;
}

.footer-main p {
  display: block;
  color: #b8b8b8;
  font-family:'Roboto';
  font-size: 12px;
  font-weight: 200;
  text-transform: lowercase;
}

@media only screen and (min-width: 1000px) {
  footer {
    height: 160px;
  }
  
  .footer-links {
    padding-top: 20px;
  }
  
  .footer-links a {
    font-size: 16px;
  }
  
  .footer-main {
    padding-top: 40px;
  }
  
  .footer-main p {
    font-size: 14px;
  }

}
